:root {
    --accent-color: #2196F3;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --footer-color: #2F303A;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --portfolio-button-color: rgba(245, 244, 250, 1);
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);

    width: 1600px;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* окремий клас утиліт який можна добавити до списків в тег ul*/
/* .list {
    list-style: none;
} */


/* header */
.header-logo {
     color: var(--black-color);

}

.header-logo,
.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.8px;
}

.header-logo > span,
.footer-logo > span {
    color: var(--accent-color);
}

.header {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.3px;
}

.site-nav a {
    color: var(--secondary-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.auth-nav .link {
    color: inherit;
}

.auth-nav a:hover,
.auth-nav a:focus {
    color: var(--accent-color);
}

.link.current {
    color: var(--accent-color);
}

/* .header a:hover,
.header a:focus {
    color: aqua;
} */


/* footer */
.footer {
    background-color: var(--footer-color);
}

.footer-logo {
    color: var(--white-color);
}

.address a {
    color: rgba(255, 255, 255, 0.6);
}

.address .link {
    color: var(--white-color);

    line-height: 1.7;
}
