h1 {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    color: var(--button-text-color);
    background-color: #F5F4FA;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    border: 0px;
    border-radius: 4px;

    padding: 6px 22px;
}

button:hover,
button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.header {
    margin-bottom: 94px;
}

.button-list {
    margin-bottom: 34px;
}

.portfolio-card {
    width: 370px;
}

.portfolio-list .title {
    color: var(--secondary-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1.1px;

    margin: 20px 24px 4px;
}

.portfolio-list .text {
    color: var(--primary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;

    margin: 0px 24px 20px;
}